.movie_row__main {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.movie_row__main h1 {
  color: white;
  font-size: 1.8rem;
}

.card__carrousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.card__carrousel:active {
  cursor: grabbing; /* Cambia el cursor al arrastrar */
}

.card__carrousel::-webkit-scrollbar {
  display: none;
}
