.default__main {
  height: 28rem;
}

.default__main img {
  object-fit: scale-up;
  aspect-ratio: 16/9;
}

.default_info__content {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 212, 255, 0) 100%
  );
  color: white;
  align-items: flex-end;
  justify-content: space-between;
  padding: 3rem;

  -webkit-box-shadow: 1px 9px 37px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 9px 37px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 9px 37px -7px rgba(0, 0, 0, 0.75);
}

.default__info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 50%;
}
.default__info_stats {
  display: flex;
  gap: 0.8rem;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
